.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .formGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 600px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }