body{
  background-color: #628395;
  margin: 0;
  text-align: center;
  padding-top: 240px;
}
h1{
  font-size: 80px;
  margin-top: 0;
  margin: 0 auto;
  font-family: 'Sacramento', cursive;
  color: #C9D8B6;
}
h2{
  font-family: 'Merriweather Sans', sans-serif;
  color: #C9D8B6;
}
h3{
  font-family: 'Merriweather Sans', sans-serif;
  color: #C9D8B6;
}
p{
  font-family: 'Merriweather Sans', sans-serif;
}
.programer{
  font-size: 30px;
  color: #C9D8B6;
  font-family: 'Merriweather Sans', sans-serif;
}
.middle{
}
.bottom{
}
.cloud-bottom{
  position: absolute;
  left: 20%;
}
.cloud-top{
  position: absolute;
  right: 20%;
  top: 20%;
}
.hobbies{
  width: 25%;
  margin-top: -2%;
  margin-bottom: -4%;
  margin-left: 30px;
  float: right;
  text-align: right;
}
.komp{
  width: 25%;
  float: left;
  margin-right: 30px;
}
.skill-row{
  width: 35%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
hr{
  border-style: none;
  border-top-style: dotted;
  border-color: black;
  border-width: 5px;
  width: 6%;
  margin-top: 40px;
}
.profilna{
  margin-top: 60px;
}
.introduction{
  line-height: 2;
  width: 30%;
  margin: auto;
}
.myskills{
  margin: 60px auto 60px auto;
}
.bottom-container{
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.btn {
  background: #084670;
  background-image: -webkit-linear-gradient(top, #084670, #307dad);
  background-image: -moz-linear-gradient(top, #084670, #307dad);
  background-image: -ms-linear-gradient(top, #084670, #307dad);
  background-image: -o-linear-gradient(top, #084670, #307dad);
  background-image: linear-gradient(to bottom, #084670, #307dad);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Merriweather Sans', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #7db7db;
  background-image: -webkit-linear-gradient(top, #7db7db, #426e8c);
  background-image: -moz-linear-gradient(top, #7db7db, #426e8c);
  background-image: -ms-linear-gradient(top, #7db7db, #426e8c);
  background-image: -o-linear-gradient(top, #7db7db, #426e8c);
  background-image: linear-gradient(to bottom, #7db7db, #426e8c);
  text-decoration: none;
}
.contact-me{
  margin-bottom: 50px;
}
.test{
  padding-bottom: 55px;
}
a{
  margin: 10px 20px;
  text-decoration: none;
  font-family: 'Merriweather Sans', sans-serif;
  color: #11999E;
}
a:hover{
  color: #EAF6F6;
}
.copyright{
  padding: 10px 20px;
  font-family: 'Merriweather Sans', sans-serif;
  color: #EAF6F6;
}
