.slick-slide img{
  width: 130px;
  border-radius: 10px;
}
.slick-slide{
  margin: 30px 5px;
  display: flex;
  height: auto;
}
.slider{
  width: 50%;
  display: inline-block;
}
.text{
  width: 40%;
  font-family: 'Poppins', sans-serif;
  display: inline-block;
  position: absolute;
  right: 5%;
  top: 10%;
  text-align: center;
}
.slick-track {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
}
.slide-img{
  height: 200px;
}
.arrow{
  border: 1px solid #134880;
  padding: 10px 12px;
  border-radius: 5px;
  position: absolute;
  right: 0;
  top: 105%;
}
.l-arr{
  top: 96%;
}
